/* set for all */
* {
  margin: 0;
  padding: 0;
  /* background-color: rgb(48, 127, 197); */
  /* it was wrong-don't use color here, it will add space to header */

  /* add font from google.font.com */
  font-family: "Merriweather", serif;

}

/* set image for header */
.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(1, 3, 14, 0.7), rgba(1, 3, 14, 0.7)), url(../images/R.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

/* Design navigation bar */
nav{
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

/* fix logo size */
nav img{
  width: 60px;
}

/* pages in right of screen */
.nav-pages{
  flex: 1;
  text-align: right;
}

/* change decoration and... */
.nav-pages ul li{
  /* no bullete */
  list-style: none;
  /* align in same line-horizon */
  display: inline-block;
  padding: 8px 12px; 
  /* (remember there is no spave between number and px!) */
  position: relative;
}

/* make a links beautiful */
.nav-pages ul li a{
  /* get rid of underlines */
  text-decoration: none; 
  /* change size */
  /* font-size: 13px; */
  color: white; 
}

.nav-pages ul li::after{
  /* add content */
  background: greenyellow;
  content: "";
  /* width: 100%; */
  width: 0%;
  height: 1px;
  margin: auto;
  /* display:grid; */
  display: block;
}

/* add transition */
.nav-pages ul li::after{
transition: 1s;
}

/* makign beautiful hover  */
.nav-pages ul li:hover::after{
 width: 100%; 
}

/* change banner text -color, place, btn */
.bannertext{
  color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 90%;
}

/* be at the center of div */
.bannertext{
  transform: translate(-50%, -50%);
  text-align: center;
}

/* make h1 bigger */
.bannertext h1{
  font-size: 40px;
}

/* banner text */
.bannertext p{
  font-size: large;
   margin-top: 10px;
   margin-bottom: 40px;
   /* margin-left: 0px;
   margin-right: 0px; */
}

/* work on btn=size, box, corner, color, transparent */
.play-btn, .app-btn{
  display: inline-block;
  text-decoration: none;
  border: 1px solid white;
  padding: 12px 45px;
  font-size: 16px;
  background: transparent;
  color: white;
  /* Add margin-right for spacing? it seems not a good choose! */
  margin-right: 20px; 
  /* Add border-radius for rounded corners */
  border-radius: 25px; 
  cursor: pointer;
}


/* add hover setting btn and I am really tired :(- change color and background color*/
.play-btn:hover, .app-btn:hover{
  border: 1px solid greenyellow;
  background: greenyellow;
  transition: 0.5s;
  color: black;
  font-weight: bold;
}

/* hidden icons for larg screens */
nav .fa{
  display: none;
}



/* set for media for less 700px*/
  /*1- font title -2- set nav list*/

@media(max-width: 700px){
   /* Override hover::after and ::after styles */
   .nav-pages ul li::after {
    width: 0;
  }
  
  .bannertext h1{font-size: 20px}
  .nav-pages ul li{display: block}
  
  /* add icons */
  nav .fa{
    display: block;
    font-size: 20px;
    color: greenyellow;
    cursor: pointer;
    /* add space between icon and secret page */
    margin: 15px;

  }

  /*3- add secrect page inside */
  .nav-pages{
    background: gold;
    width: 200px;
    height: 100vh;
    top:0;
    /* hiding secret page */
    right: -200px;
    text-align: left;
    position: absolute;
    /* get rid of worlds that overlay */
    z-index: 2;
  }

  /* add space betwen nav list and secret page*/
  .nav-pages ul{
    padding: 15px;
  }

  /* add transition for hell burger */
  .nav-pages{
    transition: 2s;
  }

  /* change fonts color */
  .nav-pages ul li a{
    color: black;
  }
  
 /* Override hover::after and ::after styles */
 /* .nav-pages ul li::after {
  width: 0;
} */
/* add transition */
.nav-pages ul li::after{
  transition: 0s;
  }
  
  /* makign beautiful hover  */
  .nav-pages ul li:hover::after{
   width: 0%; 
  }
  
  /* Adjust positioning of buttons */
  .play-btn,
  .app-btn {
    display: block; /* Display as block for vertical stacking */
    margin-top: 20px; /* Add space between buttons */
    margin-right: auto; /* Center horizontally */
  margin-left: auto; /* Center horizontally */
  width: 120px; /* Adjust the width as needed */
}
    width: 120px; /* Adjust the width as needed */

    
  }
  
}
